.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 100%;
    max-width: 400px;
    background-color: rgba(65, 47, 9, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(233, 180, 65, 0.6);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card_first-content {
    min-height: 200px;
}

.card_title {
    grid-column: span 2;
    text-align: center;
    font-size: 40px;
    margin-bottom: 8px;
}

.card_subtitle {
    grid-column: span 2;
    text-align: center;
    font-size: 20px;
    
}

.card_second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

.info_title {
    color: rgb(174, 236, 174);
}

.info_content-list {
   color: #fffa; 
}

.temperature{
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
}

.card_btn {
    grid-column: span 2;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: rgb(58, 71, 39);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    text-shadow: 1px 1px 5px #0009;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(83, 99, 59, 0.5);
    margin-bottom: 10px;
}

.card_btn:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: transform 100ms ease;
}

.loading_body {
    color: #fff;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 47, 9, 0.6);
    
}


.loading {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid greenyellow;
    position: relative;
    animation: a1 2s linear infinite;
}

.loading::before, .loading::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before {
    border-top: 10px solid wheat;
    transform: rotate(120deg);
}

.loading::after {
    border-top: 10px solid #412f0999;;
    transform: rotate(240deg);
}

.loading h1 {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}